.store-layout {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

.store-header {
  justify-content: center;
  align-items: center;
  height: 50px;
}

.store-title {
  font-size: 3rem;
  letter-spacing: 7px;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  margin: 1rem 0 0;
}

.store-nav {
  display: flex;
  background: linear-gradient(90deg, rgba(114, 83, 134, 0.9), rgba(114, 83, 134, 0.8));
  border-bottom:  #ce2020;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  position: relative;
  justify-content: center;
  gap: 3rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 14px 60px rgba(114, 83, 134, 0.45);
}

.store-nav a {
  text-decoration: none;
  color: #000000;
  font-size: inherit;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: color 0.3s ease;
}

.store-nav a:hover {
  color: #ffffff;
}

.store-main {
  padding: 2rem 1rem 3rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.store-footer {
  border-top: 1px solid #111;
  padding: 1rem;
  font-size: 0.8rem;
  color: #aaa;
}

.store-card {
  background-color: #111111;
  border-radius: 12px;
  overflow: hidden;
  width: 260px;
  height: 400px;
  box-shadow: 0 0 15px #1a1a1a;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.store-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px #523f63;
}

.store-box-overview {
  position: absolute;
  inset: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.store-box-overview:hover {
  opacity: 1;
}

.store-box-text {
  border-radius: 8px;
  padding: 6px 14px;
  backdrop-filter: blur(4px);
  letter-spacing: 1px;
  color: #fff;
   background-color: #000000cc;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.store-color-select{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.store-size-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.store-size-buttons button {
  min-width: 40px;
  width: auto;
  padding: 6px 12px;
}

.store-image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
